@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 204vh;
    width: 100vw;
    background-color: #a7a5a5;
}

.main{
    height: 100vh;
    width: 1060px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    grid-template-rows: 1fr 3fr; 
    gap: 10px; 
}

/* .......................................................................... */
.item1{
    height: 323px;
    width: 750px;
    background-color: #EBEBEB;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    border-radius: 8px;
    position: relative;
}

.line{
    height: 323px;
    width: 10px;
    background-color:#5E657B;
    border-radius: 20px;
    position: absolute;
    left: -20px;
}

.img img{
    height: 137px;
    border-radius: 25px;
    border: 5px solid #ED943C;
}

.intro{
    padding: 10px;
}

.name{
    color: #5C647C;
    font-family: "Poppins";
    font-size: 35px;
}

.field{
    color: #ED943C;
    font-family: "Poppins";
    margin-bottom: 6px;
    font-size: 20px;
}

.experience{
    font-family: "Poppins";
}

.experience>span{
    font-weight: 700;
}

/* .......................................................................... */

.item2 {
    height: 323px;
    width: 300px;
    background-color: #5E657B;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    border-radius: 8px;
    position: relative;
}

.circle{
    height: 20px;
    width: 20px;
    border: 5px solid white;
    background-color: #ED943C;
    border-radius: 50%;
    position: absolute;
    bottom: -18px;
    left: -21px;    
}

.contact_info{
    padding: 20px;
}

.item2 p {
    display: flex;
    align-items: center;
    padding: 7px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ED943C;
    font-weight: 700;
}

.item2 i {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #ED943C;
    padding: 10px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    color: #ED943C;
    margin-right: 10px; 
}
/* .......................................................................... */


.item3{
    height: 1000px;
    background-color: #ffffff;
}

.item_3_main{
    padding: 20px;
}

.work_head p {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #5C647C;
    font-weight: 700;
    font-size: 20px;
}

.work_head i {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #5C647C;
    background-color: transparent;
    padding: 10px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    color: #5C647C;
    margin-right: 10px; 
    font-size: 16px; 
}

.data_company{
    font-family: "Poppins";
    font-size: 20px;
}

.data_head {
    font-size: 23px;
    margin-top: 10px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.work_info{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.work_info p{
    margin-top: 10px;
}

.work_info {
    margin-top: 20px;
}

.work_info p {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: 400;
    font-size: 16px;
    margin: 0 0 10px 0;
}

.data_subhead{
    font-family: "Poppins";
    font-size: 20px;
}

.data_info p{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: 400;
    font-size: 16px;
    margin: 0 0 10px 0;
}

.business_info p{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: 400;
    font-size: 16px;
    margin: 0 0 10px 0;
}

.education_head p {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #5C647C;
    font-weight: 700;
    font-size: 20px;
}

.education_head i {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #5C647C;
    background-color: transparent;
    padding: 10px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    color: #5C647C;
    margin-right: 10px; 
    font-size: 16px; 
}

.education_subhead{
    font-size: 23px;
    margin-top: 10px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.education_info{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.date_place{
    color: orange;
    display: flex;
    justify-content: space-between;
    font-style: italic;
    margin: 6px;
}

/* --------------------------------------------------------------------------------------------------- */
.item4{
    height: 1000px;
    background-color: #EBEBEB;
    width: 300px;
    border-radius: 8px;
}

.head {
    margin-top: 20px;
}

.head p {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #5C647C;
    font-weight: 700;
    font-size: 20px;
}

.head i {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #5C647C;
    background-color: transparent;
    padding: 10px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    color: #5C647C;
    margin-right: 10px; 
    font-size: 16px; 
}

.server_head{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 20px;
}

.server_info{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.language_head{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 20px;
}

.language_info{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
.software_head{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 20px;
}

.software_info{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.skills_head p {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #5C647C;
    font-weight: 700;
    font-size: 20px;
}

.skills_head i {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #5C647C;
    background-color: transparent;
    padding: 10px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    color: #5C647C;
    margin-right: 10px; 
    font-size: 16px; 
}

.skills_head{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 20px;
}

.skills_info{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.skills_info > p{
    background-color: #AFB4BC;
    margin-top: 10px;
    padding: 7px;
    font-size: 16px;
    display: inline-block;
    border-radius: 7px;
    color: white;
}

.certificate_head p {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #5C647C;
    font-weight: 700;
    font-size: 20px;
}

.certificate_head i {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #5C647C;
    background-color: transparent;
    padding: 10px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    color: #5C647C;
    margin-right: 10px; 
    font-size: 16px; 
}

.certificate_head{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 20px;
}

.certificates_info{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.certificates_info > p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

.item_4_main{
    padding-left: 20px;
}