/* styles.css */
body {
    font-family:'Courier New', Courier, monospace
    margin: .90;
    padding: 39px;
    background-color: #456745;
}

header {
    text-align: right;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

section {
    background: #979ba1e0;
    margin: 20px 0;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2.5px rgba(32, 31, 32, 0.719);
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    img {
        width: 100px;
        height: 100px;
    }
}